:root {
    --branding-color: #2CAF1E;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
    background: #9ADBB9;
}

body {
    font-family: var(--default-font-family);
    margin: 60px auto;
    max-width: 800px;
    background: #9ADBB9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}


h1 {
    font-size: 70px;
    line-height: 1.5;
}

h2 {
    font-size: 50px;
}

h4 {
    font-size: 30px;
}

p {
    font-weight: normal;
    background: #FDF6C4;
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}


.about-section container{
    background: #FDF6C4;
    text-align: center;
    padding: 170px 50px;
    font-size: 50px;
    line-height: 1.5;
}

.homepage {
    background: #FDF6C4;
    text-align: center;
    padding: 170px 50px;
}

.homepage p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.homepage h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}

.my-homepage {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    text-decoration: none;
}


html {
    display: block;
}

div {
    display: block;
    unicode-bidi: isolate;
}


nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}


footer {
    margin: 60px 0;
}

footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 170px;
    border-radius: 10px;
}


footer .contact-box p {
    margin: 0;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

footer .email-link:hover {
    color: var(--branding-color);
}

footer .social-links a {
    margin: 0 20px;
    color: #0174E9;
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 30px;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background: var(--branding-color);
}


.col.md-6 {
    text-align: right;
}

.img-fluid rounded {
    max-width: 100%;
    height: 100%;
    border-radius: 4px;
}


.img-fan {
    max-width: 400px;
    border-radius: 4px;
}

.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: #2CAF1E;
    box-shadow: gray;
    color: white;
}

.links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.about-paragraphs {
    display: flex;
    margin: 30px 0;
}

.about-paragraphs p {
    margin: 10px;
}

.instagram {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.instagram:hover {
    text-decoration: underline;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.justify-content-center {
    justify-content: center;
}

.d-flex {
    display: flex;
}

.mb-5 {
    margin-bottom: 3rem;
}

@media(min-width: 768px) {
    .d-Md-flex {
        display: flex;
    }
}

.text-center {
    font-size: medium;
    background: #9ADBB9;
}


